<div class="container">
  <div id="area-to-print">
    <h2>Crime and Punishment</h2>

    <p>
      "He was so immersed in himself and had isolated himself so much from
      everyone that he was afraid not only of meeting his landlady but of
      meeting anyone at all. He was crushed by poverty; but even his strained
      circumstances had lately ceased to burden him. He had entirely given up
      attending to his daily affairs and did not want to attend to them."
    </p>

    <img src="assets/book.jfif" alt="open book" />
  </div>
  <div class="button-wrapper">
    <button mat-fab color="accent" (click)="shouldDownload(true)">
      <mat-icon>content_copy</mat-icon>
    </button>
    <button mat-fab color="primary" (click)="shouldDownload(false)">
      <mat-icon>content_copy</mat-icon>
    </button>
  </div>
</div>
